<!DOCTYPE html>
<html>
<head>
	<title>测试</title>
	<link rel="stylesheet" type="text/css" href="index/index.css">
</head>
<body>
	<div id='main'></div>
	<script src='base/index.js'></script>
	<script src='index/index.js'></script>
</body>
</html>