<!DOCTYPE html>
<html>
<head>
	<title>简单村</title>
	<link rel="stylesheet" type="text/css" href="base/index.css">
	<link rel="stylesheet" type="text/css" href="login/index.css">
</head>
<body>
	<div id='main'></div>
	<script src='base/index.js'></script>
	<script src='login/index.js'></script>
</body>
</html>